{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "macros/datatables.html.twig" as tables %}
{% import "macros/toolbar.html.twig" as toolbar %}

{% set actions = ({
    'mail-sent': 'empty-description-checker/send-emails',
    'help': 'https://gitlab.com/hmr-it/kimai2plugins/EmptyDescriptionCheckerBundle/blob/master/README.md',
    'money': 'https://paypal.me/hmrit'
}) %}

{% set columns = {
    'begin': 'alwaysVisible',
    'end': 'hidden-xs',
    'user': 'alwaysVisible',
    'project': 'hidden-xs hidden-sm',
    'activity': 'hidden-xs hidden-sm',
} %}

{% set tableName = 'empty_descriptions' %}

{% block page_title %}{{ 'emptydescriptionchecker.title'|trans }}{% endblock %}
{% block page_subtitle %}{{ 'emptydescriptionchecker.subtitle'|trans }}{% endblock %}
{% block page_actions %}{{ widgets.page_actions(actions) }}{% endblock %}

{% block main %}
    {% if entries is empty %}
        {{ widgets.callout('warning', 'error.no_entries_found') }}
    {% else %}
        {{ tables.datatable_header(tableName, columns, null, {'reload': 'kimai.timesheetUpdate'}) }}
        {% for entry in entries %}
            {% if is_granted('edit', entry) %}
                {% set editRoute = 'timesheet_edit' %}
                {% if app.user != entry.user %}
                    {% set editRoute = 'admin_timesheet_edit' %}
                {% endif %}
                <tr class="modal-ajax-form open-edit" data-href="{{ path(editRoute, {'id': entry.id}) }}">
            {% else %}
                <tr>
            {% endif %}
                <td class="{{ tables.data_table_column_class(tableName, columns, 'begin') }}">{{ entry.begin|date_full }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'end') }}">{{ entry.end|date_full }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'user') }}">{{ entry.user }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'project') }}">{{ entry.project }}</td>
                <td class="{{ tables.data_table_column_class(tableName, columns, 'activity') }}">{{ entry.activity }}</td>
            </tr>
        {% endfor %}
        {{ tables.data_table_footer(entries, 'empty_description_checker_paginated') }}
    {% endif %}

{% endblock %}

